{% extends "base.html" %}

{% block slider %}
    <div class="flexslider">
        <ul class="slides">
            <li> <img src="/static/img/1.png" alt="" >
                <div class="flex-caption">1</div>
            </li>
            <li> <img src="/static/img/2.png" alt="" >
                <div class="flex-caption">2</div>
            </li>
            <li> <img src="/static/img/3.png" alt="" >
                <div class="flex-caption">3</div>
            </li>
            <li> <img src="/static/img/4.png" alt="" >
                <div class="flex-caption">4</div>
            </li>
                <li> <img src="/static/img/5.png" alt="" >
            <div class="flex-caption">5</div>
            </li>
        </ul>
    </div>
        <span id="responsiveFlag"></span> </div>
{% endblock %}

{% block content %}
      <div id="content">
    <div class="container">
          <div class="row">
        <ul class="thumbnails thumbnails-1">
        {% for h in hall %}
            <li class="span3">
                <div class="thumbnail thumbnail-1">
                    <h3 class="title-1 extra">{{ h.0.location }}</h3>
                    <img  src="{{ h.0.images.all|random }}" alt="">
                    <section>
                        <strong>{{ h.0.name }}</strong>
                        <p>{{ h.0.description }}</p>
                        <a href="{{ h|first }}" class="btn btn-1">read more</a>
                    </section>
                </div>
            </li>
        {% endfor %}
        <div class="span12">
              <div class="border-horiz"></div>
            </div>
      </div>
          <div class="row">
        <article class="span7">
              <h3 class="title-1 extra">Shortly about me</h3>
              <div class="wrapper">
            <figure class="img-indent"><img src="/static/img/page1-img5.jpg " alt="" /></figure>
            <div class="txt-1 ">Hello! My name is Junestan Davies.</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisc tiulm  torto urna, ut tincidunt dolor. Nunc vule putate ulr
                  ips consecte. Donec semper tet laciniate ultricie Supi en disse eltel come lectus,fringilla .</p>
          </div>
            </article>
      </div>
        </div>
  </div>
{% endblock %}